<div class = "body">
	<div class = "sidepane">
		<div style="float: left" id="my_menu" class="sdmenu">
      
      <div>
        <span>Categories</span>
        <%= link_to "Men", "#" %>
       	<%= link_to "Women", "#" %>
       	<%= link_to "Kids", "#" %>
      </div>
      
      	<div>
        	<span>Occasions</span>
      		<%= link_to "Party", "#" %>
       		<%= link_to "Travel", "#" %>
       		<%= link_to "Ethnic", "#" %>
       		<%= link_to "Office", "#" %>
       		<%= link_to "College", "#" %>
       
      	</div>
      
      	<div>
        	<span>Special Products</span>
      	</div>
			</div>
	</div>
</div>
