<div class = "body">
	<div class = "sidepane">
		<ul id="navmenu">
      <li>
					<%= link_to "Categories +", "#" %>
					<ul>
						<li>
							<%= link_to "Men +", "#" %>
							<ul>
								<li><%= link_to "Shirts", "#" %></li>
								<li><%= link_to "Trousers", "#" %></li>
								<li><%= link_to "Shorts", "#" %></li>
							</ul>
						</li>
						<li>
							<%= link_to "Women +", "#" %>
							<ul>
								<li><%= link_to "Saree", "#" %></li>
								<li><%= link_to "Salwar", "#" %></li>
								<li><%= link_to "Shirts", "#" %></li>
								<li><%= link_to "Trousers", "#" %></li>
							</ul>
						</li>
						<li>
							<%= link_to "Kids +", "#" %>
							<ul>
								<li><%= link_to "Shirts", "#" %></li>
								<li><%= link_to "Trousers", "#" %></li>
								<li><%= link_to "Shorts", "#" %></li>
							</ul>
						</li>
						
					</ul>
				</li>
				<li>
					<%= link_to "Occasions +", "#" %>
					<ul>
							<li><%= link_to "Shirts", "#" %></li>
							<li><%= link_to "Trousers", "#" %></li>
							<li><%= link_to "Shorts", "#" %></li>
					</ul>
				</li>
				<li>
					<%= link_to "Special Products", "#" %>
				</li>
</ul>
	</div>
</div>
