<!DOCTYPE html>
<html>

<head>
  <title>E-Attire | <%= @title %></title>
	<%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "sdmenu" %>

</head>

<body>
	<div class = "container">
		<%= render 'layouts/header' %>
		<%= render 'layouts/body' %>
		<%= yield %>
	</div>
</body>
</html>
